* {
    padding: 0;
    border: 0;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #c7d3cf, #a1c1c0, #7cadb9, #5e97b5, #527faf);
    background-repeat: no-repeat;
}

button {
    background-color: #164B7F;
    border: 0;
    border-radius: 0.5em;
    padding: 0.5em;
    margin-right: 2em;
    color: #cccccc;
    box-shadow: 0.1em 0.1em 0.2em #666;
}

button:hover {
    background-color: rgba(22, 75, 127, 0.8)
}

input[type="file"]{
    display:none;
}

.tmp::after {
    content: " 100% 🗸";
}

#header {
    padding: 0.5em;
    width: 95vw;
    left: 2.5w;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#HTML-container {
    background-color: rgba(228, 225, 216, 0.65);
    width: 95vw;
    border-radius: 0.8em;
    margin: 1.5em 0.5vw 0em 2vw;

}

p {
    padding: 1em 0.2em;
}